<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DHP_Custom_Library" connectionString="Data Source=dchvcis51;Initial Catalog=DHP_Custom_Library;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="TxMedCentral_82" connectionString="Data Source=dchvcis51;Initial Catalog=TxMedCentral_82;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="TxMedCentral_H4" connectionString="Data Source=dchvcis51;Initial Catalog=TxMedCentral_H4;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="TxMedCentral_KC" connectionString="Data Source=dchvcis51;Initial Catalog=TxMedCentral_KC;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="TxMedCentral_KD" connectionString="Data Source=dchvcis51;Initial Catalog=TxMedCentral_KD;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="TxMedCentral_05" connectionString="Data Source=dchvcis51;Initial Catalog=TxMedCentral_05;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="TapestryFilePath" value="\\dchvcis51\Tapestry\PRD\EE\Incoming_834\"/>
  </appSettings>
</configuration>